<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-library - <%= book ? book.name : 'Book Details' %></title>
    <link rel="stylesheet" href="/css/bookDetail.css">
</head>
<body>

<header>
    <h1>E-library</h1>
</header>

<nav class="navbar">
    <div class="nav-links">
        <a href="/showBooks">Home</a>
        <% categories.forEach(category => { %>
            <a href="/categories/<%= category %>"><%= category %></a> 
        <% }) %>
        <a href="/createbook">Upload</a>
    </div>
</nav>

<main>
    <div class="book-card">
        <div>
            <img src="/<%= book.image %>" alt="Cover for <%= book.name %>" width="100">
        </div>
        <div class="book-details">
            <div class="book-title"><%= book.name %></div>
            <div class="book-author">by <%= book.author %></div>
        </div>
    </div>

    <div class="file">
        <a href="/<%= book.bookFile %>" target="_blank">Download PDF</a>
    </div>

    <div class="about-book">
        <h1>About Book</h1>
        <table>
            <tr>
                <td>Title</td>
                <td><%= book.name %></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><%= book.author %></td>
            </tr>
            <tr>
                <td>Released Date</td>
                <td><%= book.releasedDate %></td>
            </tr>
            <tr>
                <td>Category</td>
                <td><%= book.category %></td>
            </tr>
            <tr>
                <td>Language</td>
                <td><%= book.language %></td>
            </tr>
        </table>
    </div>

</main>

<footer>
    <p>Footer</p>
    <p><a href="/something">Something</a></p>
</footer>

</body>
</html>
