<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
    <link rel="stylesheet" href="css/showBooks.css">
</head>
<body>
    <header>
        <h1>All Books</h1>
    </header>

    <nav class="navbar">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="Fiction.html">Fiction</a>
            <a href="#">Non-Fiction</a>
            <a href="#">Science</a>
            <a href="/createbook">Upload</a>
        </div>
    </nav>

    <main>
        <div class="book-grid">
            <% books.forEach(book => { %>
                    <a href="/books/<%= book.id %>" class="book-card">
                    <img src="<%= book.image %>" alt="Cover for <%= book.name %>" width="100">
                    <div class="book-details">
                        <h2 class="book-title"><%= book.name %></h2>
                        <p class="book-author">by <%= book.author %></p>
                        <p class="book-category">Category: <%= book.category %></p>
                        <p class="book-date">Released: <%= book.releasedDate %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </main>
    
</body>
</html>
